In [49]:
import sys
import numpy as np
import scipy.linalg as lng
from scipy.sparse.linalg import aslinearoperator
import scipy.linalg.interpolative as sli
from IPython.display import display
import pandas as pd

<h2>1. Eigendecomposition (Spectral Decomposition)<h2>
    <div style="text-align:center">$X = S^{T}DS$</div>

<h2>2. SVD (Singular Decomposition)<h2> 
<div style="text-align:center">$X = UDV$</div>
<h5> In linear algebra, the singular value decomposition (SVD) is a factorization of a real or complex matrix that generalizes the eigendecomposition of a square normal matrix to any m $x$ n matrix via an extension of the polar decomposition. <h5>

In [4]:
m = 5
n = 6
a = np.random.randn(m, n) + 1.j*np.random.randn(m, n)
print(a)

[[-0.77643293+0.35959076j -0.47229343+0.68713104j  1.81072507+0.11793493j
  -1.05560219+1.21710219j  2.19276767+0.39478932j  0.60234177+0.47823828j]
 [-1.49753796+1.60265692j -0.26736494-0.37818933j -1.48637344-0.00749373j
   1.53670629-0.40904908j -1.59441889+0.33747748j  0.84990199-0.88947341j]
 [ 0.28665805-0.09153344j -0.27699425+0.66098593j  0.44364593+0.29406986j
  -0.35496725+1.14375468j  0.40843182+0.86167291j -0.27566379-1.1933632j ]
 [-2.33095574+0.88200954j -1.32700203+0.40373339j  0.72432147-0.63891275j
   0.6058731 -0.05655767j -2.11325365+0.80779385j -1.28111756+2.36580598j]
 [-1.21880398+0.65753507j -0.26021857+0.72739727j -0.36954404+1.49361435j
  -0.32904413-2.66446993j  1.62809182-0.88694489j -1.79908221+0.27783553j]]

In [5]:
U, D, V = lng.svd(a)
U.shape, D.shape, V.shape

((5, 5), (5,), (6, 6))

<h4>Reconstruction of the original matrix from the decomposition<h4>

In [8]:
sigma = np.zeros((m, n))
for i in range(min(m, n)):
    sigma[i, i] = D[i]
    
a_rec = np.dot(U, np.dot(sigma, V))

np.allclose(a, a_rec)

True

In [25]:
# Another example

m1 = 6
n1 = 4
X = np.random.randn(m1, n1)
print(X)

[[ 2.7521158   1.03223204 -1.35375074  0.94249769]
 [ 1.02120142 -0.89359227 -0.97110289  1.87563723]
 [ 0.15002673 -1.36357663  0.84601035  0.12477653]
 [-0.31283324 -0.46775709  1.5548597   0.18507387]
 [-0.21597931 -0.52295971  0.05369575  1.41228591]
 [-0.53948229 -1.06144942 -0.1862594  -1.77537296]]

In [33]:
U_1, D_1, V_1 = lng.svd(X, full_matrices = False)
print(U_1.shape, D_1.shape, V_1.shape)

U_df, D_df, V_df = pd.DataFrame(U_1), pd.DataFrame(D_1), pd.DataFrame(V_1)
display(U_df, D_df, V_df)

(6, 4) (4,) (4, 4)

          0         1         2         3
0 -0.760316  0.317773 -0.117941 -0.468349
1 -0.465567 -0.500657 -0.407571  0.283250
2  0.122513 -0.439642 -0.373993 -0.506670
3  0.213482 -0.381574  0.268688 -0.589073
4 -0.120215 -0.506572  0.100058  0.310950
5  0.360738  0.229924 -0.773240  0.002742

          0
0  4.191368
1  2.676902
2  1.801036
3  1.410490

          0         1         2         3
0 -0.664453 -0.228027  0.439791 -0.559544
1  0.150194  0.588080 -0.365817 -0.705536
2 -0.269525  0.774651  0.447644  0.356210
3 -0.680661  0.045620 -0.687296  0.249486

In [34]:
d = np.diag(D_1)
np.allclose(X, np.dot(U_1, np.dot(d, V_1)))

True

<h1>3. Interpolative matrix decomposition<h1>
<div style="text-align:center">$X = BP + E$</div>
<h5> The principal advantages of using an ID over an SVD are that: <h5>
<ol>
<li> It is cheaper to construct</li>
<li> It preserves the structure of $X$ and</li>
<li> It is more efficient to compute with in light of the identity submatrix of $P$</li>
</ol>

In [58]:
n = 20
X = lng.hilbert(n) # low-rank Hilbert matrix
L = aslinearoperator(X)

X_df = pd.DataFrame(X)
X_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1.000000,0.500000,0.333333,0.250000,0.200000,0.166667,0.142857,0.125000,0.111111,0.100000,0.090909,0.083333,0.076923,0.071429,0.066667,0.062500,0.058824,0.055556,0.052632,0.050000
1,0.500000,0.333333,0.250000,0.200000,0.166667,0.142857,0.125000,0.111111,0.100000,0.090909,0.083333,0.076923,0.071429,0.066667,0.062500,0.058824,0.055556,0.052632,0.050000,0.047619
2,0.333333,0.250000,0.200000,0.166667,0.142857,0.125000,0.111111,0.100000,0.090909,0.083333,0.076923,0.071429,0.066667,0.062500,0.058824,0.055556,0.052632,0.050000,0.047619,0.045455
3,0.250000,0.200000,0.166667,0.142857,0.125000,0.111111,0.100000,0.090909,0.083333,0.076923,0.071429,0.066667,0.062500,0.058824,0.055556,0.052632,0.050000,0.047619,0.045455,0.043478
4,0.200000,0.166667,0.142857,0.125000,0.111111,0.100000,0.090909,0.083333,0.076923,0.071429,0.066667,0.062500,0.058824,0.055556,0.052632,0.050000,0.047619,0.045455,0.043478,0.041667

<h5>In all cases, the ID is represented by three parameters:</h5>
<ol>
<li> A rank $k$</li>
<li> An index array 'idx'</li>
<li> Interpolation coefficients 'proj'</li>
</ol>

In [61]:
eps = sys.float_info.epsilon
k, idx, proj = lng.interpolative.interp_decomp(X, eps)

print(k, '\n\n', idx, "\n\nproj's shape: ", proj.shape)

14

 [ 0  3 15  1  7 19  2  5 11  4 17  9  6 13 14 12 16 10 18  8]

proj's shape:  (14, 6)

In [62]:
# Computing an ID to a fixed rank:

k1 = 3
idx1, proj1 = sli.interp_decomp(X, k1)

print(idx1, "\n\nproj's shape: ", proj1.shape)

[ 0  3 14  1  4  5  6  7  8  9 10 11 12 13  2 15 16 17 18 19]

proj's shape:  (3, 17)

<h4>Reconstruction of the original matrix from the ID<h4>

In [66]:
B = sli.reconstruct_skel_matrix(X, k, idx) #Skeleton (yep) matrix
B.shape

(20, 14)

In [67]:
P = sli.reconstruct_interp_matrix(idx, proj)
P.shape

(14, 20)

In [70]:
# Computing the ID approximation

C = np.dot(B, P)

# or
C1 = sli.reconstruct_matrix_from_id(B, idx, proj)
C.shape

(20, 20)

In [72]:
C_df = pd.DataFrame(C)
C_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1.000000,0.500000,0.333333,0.250000,0.200000,0.166667,0.142857,0.125000,0.111111,0.100000,0.090909,0.083333,0.076923,0.071429,0.066667,0.062500,0.058824,0.055556,0.052632,0.050000
1,0.500000,0.333333,0.250000,0.200000,0.166667,0.142857,0.125000,0.111111,0.100000,0.090909,0.083333,0.076923,0.071429,0.066667,0.062500,0.058824,0.055556,0.052632,0.050000,0.047619
2,0.333333,0.250000,0.200000,0.166667,0.142857,0.125000,0.111111,0.100000,0.090909,0.083333,0.076923,0.071429,0.066667,0.062500,0.058824,0.055556,0.052632,0.050000,0.047619,0.045455
3,0.250000,0.200000,0.166667,0.142857,0.125000,0.111111,0.100000,0.090909,0.083333,0.076923,0.071429,0.066667,0.062500,0.058824,0.055556,0.052632,0.050000,0.047619,0.045455,0.043478
4,0.200000,0.166667,0.142857,0.125000,0.111111,0.100000,0.090909,0.083333,0.076923,0.071429,0.066667,0.062500,0.058824,0.055556,0.052632,0.050000,0.047619,0.045455,0.043478,0.041667