In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
from IPython.display import display

In [1]:
#1.
p = 0.2/0.5
print(p)

0.4

In [3]:
# 2. Gruppa krovi na rukave

P1 = 0.49
P2 = 0.38
P3 = 0.1
P4 = 0.03

P = np.array([[0.49], 
              [0.38], 
              [0.1], 
              [0.03]])
print(P.shape, '\n')

data = np.array([[1, 1, 1, 1], 
                 [0, 1, 0, 1], 
                 [0, 0, 1, 1], 
                 [0, 0, 0, 1]])
print(data.shape, '\n')

df = pd.DataFrame(data, columns = ['1', '2', '3', '4'], 
                  index = ['1', '2', '3', '4'])

display(df)

(4, 1)

(4, 4)

   1  2  3  4
1  1  1  1  1
2  0  1  0  1
3  0  0  1  1
4  0  0  0  1

In [4]:
# What is the probability that the plasma from one randomly chosen Australian 
# can be poured into another randomly chosen Australian?

btw_data = P * np.transpose(P)
btw_df = pd.DataFrame(btw_data)
display(btw_df)


res_data = btw_data*data
res_df = pd.DataFrame(res_data)
display(res_df)

result = 0
for row in res_data:
    for i in row:
        result = result + i
    
print(result)

        0       1      2       3
0  0.2401  0.1862  0.049  0.0147
1  0.1862  0.1444  0.038  0.0114
2  0.0490  0.0380  0.010  0.0030
3  0.0147  0.0114  0.003  0.0009

        0       1      2       3
0  0.2401  0.1862  0.049  0.0147
1  0.0000  0.1444  0.000  0.0114
2  0.0000  0.0000  0.010  0.0030
3  0.0000  0.0000  0.000  0.0009

0.6597

In [5]:
# 3.
res = 0.6 * 0.1 + 0.4 * 0.15
print(res)

0.12